In [8]:
# Initial imports
import pandas as pd
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
pd.options.display.max_columns = 999

In [26]:
# Loading data
# file_path = Path("data.csv")
# df_retail = pd.read_csv(file_path)
# df_retail.head()

df_retail = pd.read_csv("../data.csv", index_col=0)
df = pd.read_csv("../AN_EW_CUST_DATASET_202303141449.csv")

In [27]:
df_retail.columns

Index(['AGE_', 'INCOME', 'ETHNIC_CODE_GROUP', 'LIFETIME_APPAREL_DEMAND',
       'LIFETIME_APPAREL_ORDERS', 'STORE_NUM', 'STORE_NAME', 'STORE_ZIP',
       'DIVISION_NAME', 'PRODUCT_ID', 'ITEM_NAME', 'MD_STATE', 'states',
       'Region'],
      dtype='object')

In [28]:
df_retail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 224647 entries, 0 to 284139
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   AGE_                     224647 non-null  int64
 1   INCOME                   224647 non-null  int64
 2   ETHNIC_CODE_GROUP        224647 non-null  object
 3   LIFETIME_APPAREL_DEMAND  224647 non-null  float64
 4   LIFETIME_APPAREL_ORDERS  224647 non-null  int64
 5   STORE_NUM                224647 non-null  int64
 6   STORE_NAME               224647 non-null  object
 7   STORE_ZIP                224647 non-null  object
 8   DIVISION_NAME            224647 non-null  object
 9   PRODUCT_ID               224647 non-null  int64
 10  ITEM_NAME                224647 non-null  object
 11  MD_STATE                 224647 non-null  object
 12  states                   224647 non-null  object
 13  Region                   224647 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 25.7+ MB

In [29]:
df['IID'].value_counts()

010NNJ93E7VKUN    8804
0103IPXSGJD0X6    1790
010EAXG020328O    1560
010TPQOHLPTWWR    1227
0100TTZOKEZYCA    1150
                  ...
010L2TACM35MI2       1
010LYKVR55CE7W       1
010IHTI5G070NV       1
0106WDU9AM16IL       1
010ITVO01DFAGM       1
Name: IID, Length: 14979, dtype: int64

In [31]:
df[df["IID"]=="010EF2O2JTXADL"]

,IID,AGE_,INCOME,ETHNIC_CODE_GROUP,AN_BIRTHDAY,POSTAL_CD,LOYALTY_YN,LOYALTY_ENROLLMENT_DT,FIRST_ANTHRO_ORDER,LIFETIME_APPAREL_DEMAND,LIFETIME_APPAREL_ORDERS,ORDER_DT,ORDER_ID,ORDER_LINE_SEQ,PURCHASE_CHANNEL_DERIVED,STORE_NUM,STORE_NAME,STORE_ZIP,DIVISION_NAME,DEPARTMENT_NAME,CLASS_NAME,PRODUCT_ID,ITEM_NAME,MD_STATE,DEMAND_QTY,DEMAND_AMT
9,010EF2O2JTXADL,44,4,K,505.0,54720.0,Y,00:00.0,2/25/2015,207190.78,255,8/9/2022,AN10197715,1,DIRECT,2499,ANT DIRECT SELLING (NA),NaN,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S DRESSES (NA),DRESSES - ANTHRO. (NA),68433762,BLACK HALO SLIM ONE SHOUL,MARKDOWN,1,375.00
10,010EF2O2JTXADL,44,4,K,505.0,54720.0,Y,00:00.0,2/25/2015,207190.78,255,8/9/2022,AN10197715,3,DIRECT,2499,ANT DIRECT SELLING (NA),NaN,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S DRESSES (NA),DRESSES - ANTHRO. (NA),69773133,OB OS TXTRD RFFL MINI,MARKDOWN,1,170.00
38,010EF2O2JTXADL,44,4,K,505.0,54720.0,Y,00:00.0,2/25/2015,207190.78,255,11/25/2022,AN11053273,1,DIRECT,2499,ANT DIRECT SELLING (NA),NaN,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S TOPS (NA),SWEATERS - ANTHRO. (NA),69916096,ANTIK BATIK STRIPED TURTL,REG PRICE,1,99.97
123,010EF2O2JTXADL,44,4,K,505.0,54720.0,Y,00:00.0,2/25/2015,207190.78,255,1/9/2022,AN08696114,2,DIRECT,2499,ANT DIRECT SELLING (NA),NaN,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S DRESSES (NA),DRESSES - ANTHRO. (NA),64665839,FAITHFULL SV DEEP V SOLID,MARKDOWN,1,199.00
352,010EF2O2JTXADL,44,4,K,505.0,54720.0,Y,00:00.0,2/25/2015,207190.78,255,4/25/2022,AN09421365,4,DIRECT,2499,ANT DIRECT SELLING (NA),NaN,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S TOPS (NA),BLOUSES - ANTHRO. (NA),67938100,OB LL PILCRO ROMY RELAXED,MARKDOWN,1,98.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283472,010EF2O2JTXADL,44,4,K,505.0,54720.0,Y,00:00.0,2/25/2015,207190.78,255,7/11/2021,AN07069544,2,DIRECT,2499,ANT DIRECT SELLING (NA),NaN,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S TOPS (NA),BLOUSES - ANTHRO. (NA),62422860,CMS SLVLS PRINTED SHELL,REG PRICE,1,44.96
283567,010EF2O2JTXADL,44,4,K,505.0,54720.0,Y,00:00.0,2/25/2015,207190.78,255,1/14/2022,AN08736440,19,DIRECT,2499,ANT DIRECT SELLING (NA),NaN,OFF HOURS (NA),ANTHRO - OFF HOURS (NA),SWIM (NA),66701285,SOLID AND STRIPED KAIA RU,MARKDOWN,1,88.00
283568,010EF2O2JTXADL,44,4,K,505.0,54720.0,Y,00:00.0,2/25/2015,207190.78,255,1/14/2022,AN08736440,16,DIRECT,2499,ANT DIRECT SELLING (NA),NaN,OFF HOURS (NA),ANTHRO - OFF HOURS (NA),SWIM (NA),64245566,ROS GARDEN SHORT SOFIA DR,MARKDOWN,1,235.00
283577,010EF2O2JTXADL,44,4,K,505.0,54720.0,Y,00:00.0,2/25/2015,207190.78,255,5/23/2020,AN03690591,2,DIRECT,2499,ANT DIRECT SELLING (NA),NaN,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S TOPS (NA),BLOUSES - ANTHRO. (NA),56103542,OB THE CLASSIC DYE TECH,REG PRICE,1,73.50
284007,010EF2O2JTXADL,44,4,K,505.0,54720.0,Y,00:00.0,2/25/2015,207190.78,255,1/16/2022,AN08755398,2,DIRECT,2499,ANT DIRECT SELLING (NA),NaN,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S DRESSES (NA),DRESSES - ANTHRO. (NA),65398703,OB SV SOLID TAFFATA ALINE,REG PRICE,1,59.97

In [32]:
df_retail.columns

Index(['AGE_', 'INCOME', 'ETHNIC_CODE_GROUP', 'LIFETIME_APPAREL_DEMAND',
       'LIFETIME_APPAREL_ORDERS', 'STORE_NUM', 'STORE_NAME', 'STORE_ZIP',
       'DIVISION_NAME', 'PRODUCT_ID', 'ITEM_NAME', 'MD_STATE', 'states',
       'Region'],
      dtype='object')

In [33]:
# #predictors=['AGE_', 'INCOME', 'ETHNIC_CODE_GROUP',
#         'POSTAL_CD', 'LOYALTY_YN', 'LIFETIME_APPAREL_DEMAND', 'LIFETIME_APPAREL_ORDERS',
#         'PURCHASE_CHANNEL_DERIVED', 'STORE_NUM',
#         'DIVISION_NAME', 'DEPARTMENT_NAME',
#        'CLASS_NAME', 'PRODUCT_ID', 'ITEM_NAME', 'MD_STATE', 'DEMAND_QTY',
#        'DEMAND_AMT', 'states', 'Region']

In [34]:
df_retail2=df[['IID', 'ORDER_DT','DEMAND_AMT']].copy()
df_retail2.head()

              IID    ORDER_DT  DEMAND_AMT
0  010TUGIXZ95K5R   6/12/2020       52.46
1  0109BPMLXNREXT    2/9/2021       44.96
2  0102I4L0PINZB3  12/26/2022      179.97
3  010QS307CAT5WJ   9/14/2020      128.00
4  0101EN5Q3W4AE8   3/31/2022      160.00

In [35]:
df_retail2['ORDER_DT']=pd.to_datetime(df_retail2['ORDER_DT'])

In [36]:
df_retail2.dtypes

IID                   object
ORDER_DT      datetime64[ns]
DEMAND_AMT           float64
dtype: object

In [37]:
df_retail2.head()

              IID   ORDER_DT  DEMAND_AMT
0  010TUGIXZ95K5R 2020-06-12       52.46
1  0109BPMLXNREXT 2021-02-09       44.96
2  0102I4L0PINZB3 2022-12-26      179.97
3  010QS307CAT5WJ 2020-09-14      128.00
4  0101EN5Q3W4AE8 2022-03-31      160.00

In [38]:
df_retail2.shape

(284141, 3)

In [39]:
df_retail2_agg=df_retail2.groupby(['IID', 'ORDER_DT']).sum()[['DEMAND_AMT']].reset_index()
df_retail2_agg.shape

(119015, 3)

In [40]:
df_retail2_agg['ORDER_DT'].min()

Timestamp('2020-02-01 00:00:00')

In [41]:
#Most recent purchase,  Predicting Customer Life time Value (We decided on this one)